@font-face {
    font-family: NewYorkLarge-Medium;
    src: url(../fonts/NewYork/NewYorkLargeMedium.otf);
}
@font-face {
    font-family: NewYorkLarge-Regular;
    src: url(../fonts/NewYork/NewYorkLargeRegular.otf);
}
@font-face {
    font-family: NewYorkExtraLarge-Semibold;
    src: url(../fonts/NewYork/NewYorkExtraLargeSemibold.otf);
}
@font-face {
    font-family: Celias-Regular;
    src: url(../fonts/Celias/Celias_Regular-787b8bc.ttf);
}
@font-face {
    font-family: Celias-Medium;
    src: url(../fonts/Celias/Celias_Medium-ddfeb48.ttf);
}
@font-face {
    font-family: Celias-Bold;
    src: url(../fonts/Celias/Celias_Bold-1f9387f.ttf);
}

:root{
    --text-color-black : #23282C;
    --primary-lime-green : #92CF34;
    font-size: 18px;
    --left-right-padding : 14rem;
}


*{
    margin: 0;
    padding: 0;
}

body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: var(--text-color-black);
    font-family: 'Roboto', sans-serif;
    font-display: swap;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root{
        --left-right-padding : 1rem !important;
    }
    .feature__item{
        width: 100% !important;
        height: 16.666rem !important;
    }
    .feature__grid{
        column-gap: 1.5rem !important;
    }
    .feature__item .feature_icon img{
        width: 50%;
    }


}

@media only screen and (max-width: 1000px){
    .feature--name.feature--active{
        background-color: var(--primary-lime-green) !important;
        color: white !important;
    }
    .feature--name:active, .feature--name:focus{
        border-left: unset !important;
    }
}
/* Extra small devices (phones, 1350px and down) */
@media only screen and (max-width: 1350px) {
    :root{
        font-size: 12px;
        --left-right-padding : 8rem;
    }
    .grid1x2{
        display: flex !important;
        flex-direction: column-reverse;
    }
    .header__content--left{
        align-items: center !important;
        width: calc(100vw - (var(--left-right-padding)*2)) !important;
    }
    .header__content--right{
        width: calc(100vw - (var(--left-right-padding)*2)) !important;
    }
    .main__heading h1,
    .main__sub-heading h3
    {
        text-align: center;
    }
    .stats__grid {
        column-gap: 2rem !important;
        grid-template-columns: repeat(3,1fr) !important;
    }
    .feature__grid{
        grid-template-columns: repeat(2,1fr) !important;
        column-gap: 3rem;
        row-gap: 2rem !important;
    }

    .feature_carousal{
        flex-direction: column !important;
    }
    .feature_names_list{
        display: flex;
        justify-content: space-evenly;
        width: 100% !important;
    }
    .feature--name{
        /* max-width: 50vw !important; */
    }
    .feature_details_view{
        width: 100% !important;
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
:root{
    font-size: 10px;
}
.stats__grid {
    column-gap: 2rem !important;
    grid-template-columns: repeat(2,1fr) !important;
}
.navigation{
    display: none !important;
}
.logo img{
    max-height: 35px !important;
    /* transition: 0.3s ease-out; */
}
.header nav{
    background-color: #fff !important;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.13);
    padding: 1rem var(--left-right-padding) !important;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root{
        font-size: 12px !important;
    }
    .container{
        background-size: 100rem 100rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {
    :root{
        font-size: 18px !important;
    }
}


.container {
    /* height: 500vh; */
    background-image: url('../media/banner-graphic.png');
    background-size: 80.667rem 77.722rem;
    /* background-position: right; */
    background-position-y: 0;
    background-position-x: 100%;
    background-repeat: no-repeat;
}

.container::before{
    content: url(../media/shape.png);
    position: absolute;
    top: 70%;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

section{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 0 var(--left-right-padding);
    padding-top:3rem;
}

.header{
    padding: 0 var(--left-right-padding);
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.logo img{
    max-height: 69px;
    transition: 0.3s ease-out;
}

.header nav{
    display: flex;
    justify-content: space-between;
    padding: 2.222rem var(--left-right-padding);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.3s ease-out;
    z-index: 999999999999999999;
}
.nav__bar--after{
    background-color: white !important;
    box-shadow: 0px 5px 1.666rem rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
.nav__bar--after > div.navigation > ul > li{
    color: var(--text-color-black);
}
.nav__bar--after > div.navigation > ul > li.nav__cta{
    color: white;
    background-color: #8ED03F;
}
.nav__bar--after > div.logo > img{
    max-height: 50px;
}

.navigation{
    display: flex;
    align-items: center;
}
.navigation ul{
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}

.nav__item{
    font-size: 1rem;
    padding: 0.5rem 1.666rem;
    border-radius: 1.1rem;
    color: #fff;
}
.nav__item.nav__cta{
    padding: 0.5rem 35px;
    color: var(--text-color-black);
    background-color: white;
}
.grid1x2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header__content{
    margin-top: 10rem;
}   

.main__heading h1{
    font-family: NewYorkLarge-Regular;
    font-size: 2.222rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    line-height: 3.62rem;
}
.main__sub-heading h3{
    font-family: Celias-Regular, sans-serif;
    font-weight: normal;
    opacity: 0.5;
    letter-spacing: 1.5px;
    margin: 2rem 0;
}
.main__cta button{
    outline: none;
    border: none;
    padding: 1.1rem 2.222rem;
    /* width: 265px;
    height: 78px; */
    font-size: 1.277rem;
    letter-spacing: 0.24px;
    color: white;
    background: transparent linear-gradient(240deg, #8ED03F 0%, #5BDEC4 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0rem 0.9rem 6.777rem #D3D4D4AD;
    border-radius: 39px;
    opacity: 1;
}
.header__content--left{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: calc(50vw - var(--left-right-padding));
}
.header__content--right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50vw - var(--left-right-padding));
}
.header__content--right img{
    max-width: 90%;
}

.text-big{
    font-family: NewYorkExtraLarge-Semibold;
    font-size: 3.1rem;
    line-height: 3.333rem;
    margin: 1rem 0;
    text-align: center;
    font-weight: bolder;
}
.text-small-grey{
    font-size:1.2rem;
    line-height: 2.333rem;
    letter-spacing: 0.33px;
    font-family: Celias-Regular, sans-serif;
    opacity: 0.6;
}
/* Sections */

.section__title{
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section__title::after{
    content: " ";
    position: absolute;
    bottom: -1.1rem;
    left: 50%;
    height: 4px;
    width: 4.5rem;
    background-color: var(--primary-lime-green);
    transform: translateX(-50%);
}
.numbers__section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats_icon img {
    max-width: 5.11rem;
    max-height: 5.11rem;
}
.stats__grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    padding: 0 3rem;
    row-gap: 3rem;
    column-gap: 2rem;

}
.stats__item {
    width: 14.5rem;
    height: 15.30rem;
    display: flex;
    /* margin: 0; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #E3EBF6;
    box-shadow: 0px 0px 36px #d5d7e17d;
    border-radius: 8px;
    transition: 0.2s ease-out;
    background-color: #f9fcff;
}
.mega-text{
    font-family: NewYorkExtraLarge-Semibold;
    font-size: 2.77rem;
    line-height: 3.333rem;
    text-align: center;
}

.mega-text.iit{
    font-size: 2rem;
    line-height: 3.333rem;
}
[data-million]::after{
    /* background-color: red; */
    font-size: 1.5rem !important;

}


.stats_title .mega-text::after{
    content: attr(data-suffix);
    color: var(--primary-lime-green);
    margin-left: 0.5rem;
    font-size: 2.5rem;
}
.stats__item:hover{
    border: 1px solid #E3EBF6;
    box-shadow: 0px 0px 3.1rem #7587ac4d;
    border-radius: 8px;
    opacity: 1;
    transform: scale(1.05) translateY(-15px);
    background-color: rgb(255, 255, 255);
}

.stats_icon{
    transition: 0.2s ease-in;
}

.stats__item:hover .stats_icon{
    filter: saturate(2);
}

.features__section{
    position: relative;
    background-color: #F7FAFC;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    

}

#dottedPattern {
    content: url(../media/dootpoint.png);
    position: absolute;
    top: -110%;
    right: 0;
    transform: translateX(40%);
    z-index: -1;
    width: 26.5rem;
    height: 26.5rem;
}

/* Feature */
.feature__grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    column-gap: 2rem;

}
.feature__item {
    width: 17.666rem;
    height: 21.666rem;
    display: flex;
    /* margin: 0; */
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid #E3EBF6;
    box-shadow: 0px 0px 36px #d5d7e17d;
    border-radius: 8px;
    transition: 0.2s ease-out;
    background-color: #e3ebf62f;
}
.feature_title .mega-text::after{
    content: attr(data-suffix);
    color: var(--primary-lime-green);
    margin-left: 0.5rem;
    font-size: 2.5rem;
}
.feature__item:hover{
    border: 1px solid #E3EBF6;
    box-shadow: 0px 0px 3.1rem #7587ac4d;
    border-radius: 8px;
    opacity: 1;
    transform: scale(1.05) translateY(-15px);
    background-color: rgb(255, 255, 255);
}

.feature_icon{
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in;
}
.feature_icon img{
    width: 100%;
}

.feature__item:hover .feature_icon{
    filter: saturate(2);
}
.feature-text{
    font-family: NewYorkExtraLarge-Semibold;
    font-size: 1.444rem;
    line-height: 3.333rem;
    text-align: center;
}


/* Detailed Feature Section */
.feature_carousal{
    display: flex;
    justify-content: space-between;
    height: 50vh !important;
    /* background-color: blue; */
}

.feature_names_list{
    width: 30%;
    height: fit-content;
    /* background-color: rgb(168, 168, 168); */
}
.feature_details_view{
    position: relative;
    width: 70%;
    height: 50vh !important;
}
.feature--name{
    font-family: Celias-Medium, sans-serif;
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: var(--text-color-black);
    cursor: pointer;
    user-select: none;
    opacity: 0.7;
    margin: 0 !important;
    font-size: 1.2rem;
}
.slick-vertical .slick-slide{
    border: none !important;
    border-left: 5px solid #0000001f !important;

}
.feature--name:hover:not(.feature--active){
    opacity: 1;
}

.feature--name.feature--active{
    opacity: 1;
    color: var(--primary-lime-green);
    border-left: 5px solid var(--primary-lime-green) !important;

}

.feature--details__slide{
    width: 100%;
    background-color: #fff;
    height: 50vh !important;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family:  Celias-Regular, sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.666rem;
}

/* width */
.feature--details__slide::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
.feature--details__slide::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.5rem;
}

/* Handle */
.feature--details__slide::-webkit-scrollbar-thumb {
    background: var(--primary-lime-green);
    border-radius: 0.5rem;

}

/* Handle on hover */
.feature--details__slide::-webkit-scrollbar-thumb:hover {
    background: #84bd2f;
}

.feature--name:focus
{
    outline: none !important;
    border-left: 5px solid var(--primary-lime-green);
    opacity: 1;
    color: var(--primary-lime-green);

}

.feature--details__slide.slick-slide.slick-current.slick-active:focus{
    outline: none !important;
}
.slick-list.draggable{
    padding: 0 !important;
}

.feature--details__slide h2{
    font-family: Celias-Medium, sans-serif;
    font-weight: bold;
    font-size:1.2rem;
    line-height: 1.666rem;
    margin: 0.5rem 0;
}
.feature--details__slide ul>li::before{
    content: '\2713  ';
    font-size: large;
    font-weight: bold;
    color: var(--primary-lime-green);
}

.feature--content__heading .feature--name {
    padding: 0;
    font-size: 1.1rem;
    color: var(--primary-lime-green);
    font-weight: normal;
    /* border-bottom: 4px solid var(--primary-lime-green); */
    border-left: 4px solid var(--primary-lime-green);
    padding: 3px 0.5rem;
    width: fit-content;
}
.feature--content__heading{
    padding : 15px 0;
    margin-bottom: 1rem;
}


/* Testimonials */
.testimonial--slide{
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.testiomonials__section{
    background-color: #F7FAFC;
}
.testiomonials__section--title h1{
    font-family: NewYorkLarge-Medium;
    font-size: 3.1rem;
    /* padding-top: 2rem; */
}
.testiomonials__list{
    margin-top: 4rem;

}
.testiomonials__slide{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.testiomonials__slide.slick-slide{
    outline: none !important;
}
.testiomonial--item{
    width: 17.66rem !important;
    height: 21.5rem !important;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid #E3EBF6;
    border-radius: 1.1rem;
    position: relative;
    margin: 6rem auto;
    padding: 0.5rem;
}
/* Image */
.testiomonial--item .photo{
    transform: translateY(-50%);
    border: 2px solid white;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.testiomonial--item .photo img{
    width: 7.38rem;
    height: 7.38rem;
    border-radius: 50%;
    overflow: hidden;
}



/* Rating */

.testiomonial--item  .star-rating{
    color: #FF974D;
    font-size: 2.222rem;
    letter-spacing: 0.3rem;
    /* margin-bottom: 1rem; */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.testiomonial--item  .star-rating .unstar{
    color: rgb(199, 199, 199);
    text-shadow: 0px 0px 0px red;
}
/* Text */
.testiomonial--item .testiomony-text{
    font-family: Celias-Regular, sans-serif;
    font-size: 1rem;
    opacity: 0.8;
    text-align: center;
    line-height: 1.44rem;
    padding: 1rem 2rem;
    height: 50%;
    width: 100%;


}
/* Info */
.testiomonial--item  .testiomony--person_info{
    margin-bottom: 0.5rem;
    height: 10%;
    width: 100%;
}
.testiomonial--item  .testiomony--person_info .person-name{
    font-family: Celias-Bold, sans-serif;
    font-size: 0.8rem;
    /* font-weight: bold; */
}
.testiomonial--item  .testiomony--person_info .person-school_name{
    font-family: Celias-Medium, sans-serif;
    font-size: 0.8rem;
    /* font-weight: bold; */
    opacity: 0.8;
}

.sliderControles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

.testiomonials__section--title {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 3rem;
    align-items: center;
}

.slider__arrow{
    margin: 0 0.5rem;
    cursor: pointer;
}
div#dropdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    position: absolute;
    width: 100vw;
    padding: 2rem;
    top: 40px;
    transition: 0.5s ease-out;
    
}

div#dropdown .nav__item{
    color: black;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 0;
    text-align: center;
}
div#dropdown .nav__item.nav__cta{
    padding: 0.5rem 35px;
    background-color: var(--primary-lime-green);
    color: white;
}
span#dropToggle {
    height: fit-content;
    position: absolute;
    top: 16px;
    right: 12px;
    z-index: 99999999999;
    background: red;
    display: none;
    height: 25px;
    width: 25px;
    background: url(../../assets/media/menu.png);
}

/* Clients Section */
section.esteemed_clients__section {padding-bottom: 4rem;}
.heading h1 {
    font-size: 2rem;
    font-family: NewYorkLarge-Medium;
    line-height: 3.333rem;
}

.client_section--title {
    text-align: center;
}

.sub_heading h3 {
    font-size: 1rem;
    line-height: 3.333rem;
    font-family: Celias-Regular;
}
.clients_section--list {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 1rem;
}

.client--box {

    display: flex !important;
    justify-content: center;
    align-items: center;
}

.client--image{
    width: 9.8rem;
    height: 6.333rem;
    border: 1px solid #E3EBF6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client--image img{
    width: 5.5rem;
}


/* Footer */

.footer__section{
    background-color: #23282C;
    padding: 4rem 0;
}

.footer__content{
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.schoollog--logo img {max-height: 3.05rem;}

.footer--column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.schoollog--tagline p {
    font-size: 1rem;
    font-family: Celias-Medium;
}
.schoollog--branches {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    font-family:  Celias-Regular;
    opacity: 0.8;
    font-size: 0.888rem;
}
.schoollog--branch.lms {padding-left: 0.5rem;border-left: 1px solid;}
.schoollog--branch.erp {padding-right: 0.5rem;border-right: 1px solid;}
.column--header h2 {font-size: 1rem;font-family: Celias-Medium;margin-bottom: 1.5rem;}

.column--links ul.links {
    list-style: none;
}

li.link {
    font-size: 0.777rem;
    line-height: 2rem;
    opacity: 0.8;
}

/* Form */
.contact_form--container{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form--fields {
    padding: 3rem;
    box-shadow: 3px 4px 20px 0px #0000001a;
}

.input--field {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0.5rem;
    width: 20rem;
}

.input--field label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.input--field input {
    border: 1px solid rgba(0, 0, 0, 0.136);
    height: 2rem;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 0 0.5rem;
}
.input--field input:focus {
    outline: none !important;
    border: 1px solid var(--primary-lime-green);

}
.input--field button {
    background-color: var(--primary-lime-green);
    color: white;
    font-size: 1.5rem;
    border-radius: 0;
    outline: none;
    border: none;
}