
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --gradient-1 : linear-gradient(to right, #8e2de2, #4a00e0);
    --primary-color-1 : #4a00e0;
}

/* Utility Classes */
.big-text-1{
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 7.2rem;
    /* color: red; */
}
.small-text-1{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.7rem;
    /* color: green !important; */
}


/* Header */
.header{
    position: fixed;
    top: 0;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 7rem;
    background-color: white;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.137);
}
.header img{
    max-height: 7rem;
    padding: 12px 28px;
}
/* .content-container{
    height: 300vh;
} */


/* landing */

.landing{
    background-image: url(assets/images/banner-img.jpg);
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    background-position: inherit;
    width: 100%;
    background-size: cover;
    /* display: grid;
    grid-template-columns: 50% 50%; */

    /* display: grid;
    grid-template-columns:  [first-start] 5rem 
                            [first-end second-start] minmax(50rem,1.5fr) 
                            [second-end third-start] minmax(55rem,1fr) 
                            [third-end fourth-start] 5rem 
                            [fourth-end]; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 50px;
    margin-top: 7rem;
    padding: 6.5rem 5rem;
    /* height: 80vh; */
}

.landing .landing-content{
    width: 50%;
    color: white;
    z-index: 9;
}
.landing .landing-content .tagline{
    /* font-size: 4.8rem;
    font-weight: 700;
    line-height: 6rem; */
}
.landing .landing-content .content{
    margin-top: 3.4rem;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3rem;
}
.cta-btn{
 background-color: var(--primary-color-1);
 background-image: var(--gradient-1);
 width: fit-content;
 padding: 1rem 2rem;
 border-radius: 0.7rem;
 margin-top: 5rem;
}
.cta-btn a{
    color: #fff;
}
/* Form */

.landing-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 2.7rem;
    max-width: 40rem;
    border-radius: 40px;
    margin-left: 14rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
.landing-form_header_heading{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4rem;
}
.form{
    margin: 1rem 0;
    display: flex!important;
    flex-direction: column!important;
}
.form_input{
    margin: 1rem 0;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.6rem;
    padding: 1.4rem 1.6rem;
    color: #999;
}

.btn--bookADemo{
    padding: 1.6rem 3.4rem;
    font-size: 1.6rem;
    background-color: var(--primary-color-1) ;
    background-image: var(--gradient-1) !important;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Stats */
.stats-counters{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: fit-content;
    background-color: white;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 3.2rem 9rem;
    box-shadow: 0 0 10px 0px rgb(199, 199, 199);
    /* height: 20vh; */
}

.stats-item{
    display: flex;
    justify-content: center;
}
.stats_content{
    display: flex;
    align-items: center;
    background: -webkit-linear-gradient(to right, #eee, #333);
    background: var(--gradient-1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Products */
.product-section{
    padding: 7rem;
}
/* .products-carousal{
    height: 100vh;
} */
.features__header--heading{
    text-align: center;
}
.features__header--content{
    text-align: center;
    margin-top: 2.4rem;
    margin-bottom: 3.4rem;
    padding: 0 10.4rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.7rem;
    color: var(--primary-color-1);
}
.slick-arrow{
    display: none !important;
}
.slick-dots{
    display: flex;
    justify-content: center;
}
.slick-dots .slick-active{
    background-color: var(--primary-color-1);
}
.slick-dots li{
    content: ""!important;
    margin: 0 1rem!important;
    list-style: none;
    height: 15px;
    width: 15px;
    background-color: rgba(0,154,224,.24);
    border-radius: 50%;
}
.slick-dots li button{
    content: ""!important;
    color: transparent;
    background-color: initial;
    border: none;
    outline: none;
    height: 10px;
}
.product-item{
    display: grid!important;
    grid-template-columns: [first-start] 1fr [first-end second-start] 1fr!important;
    grid-auto-flow: column!important;
    grid-column-gap: 5rem!important;
}

.product_content{
    margin-left: 7rem;
    text-align: left;
}
.product_content_heading{
    text-align: left;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.8rem;
}
.product_content_details{

}
.product_content_text{
    margin-top: 3.4rem;
    color: var(--primary-color-1);
    /* font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem; */
}
.btn-know-more{
    margin-top: 4.6rem;
    padding: 1.6rem 3.4rem;
    font-size: 1.6rem;
    background-color: #009ae0;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Features */
.features-section{
    padding : 4rem 9rem 3rem;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;

}
.features_grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 4rem;
    margin-top: 6rem;
}
.feature_name{
    margin-top: 1.6rem;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: .5rem;
    color: var(--primary-color-1);
}
.feature_detail{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #505050;
}
.feature_icon{
    width: 6.4rem;
    height: 6.4rem;
    filter: hue-rotate(30deg);
}

/* Institites */
.institutes{
    padding: 6rem 0;
    text-align: center;
    background-color: #f4f7f8;
}

.institutes_text{
    padding: 0 14rem;
}
.institutes_text .heading{
    /* font-size: 4.2rem;
    font-weight: 700;
    line-height: 7.2rem; */
}

.institutes_text .sub_text{
    /* font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.7rem; */
    margin-top: 3.4rem;
    padding: 0 6rem;
}
.institutes_container{
    margin-top: 2rem;
}
.institutes_item{
    outline: none;
    width: 254px;
}
.institute_logo{
    border-radius: 50%;
    overflow: hidden;
}
.institute_logo img{
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    object-fit: cover;
    object-position: center;

}
.institutes_item ,.slick-slide img{
    display: initial !important;

}

.institute_prifile{
    margin-top: 2rem;
}
.institute_prifile .institute_name{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
}
.institute_prifile .institute_location{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--primary-color-1);
}
/* Media Coverage */
.media-coverage{
    padding: 6rem 12rem;
}
.media_header{
    text-align: center;
}

.media_header .media_header_heading{
    /* font-size: 4.8rem;
    font-weight: 700;
    line-height: 7.2rem; */
}
.media_header .media_header_text{
    /* font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem; */
    margin-top: 2.4rem;
    color: var(--primary-color-1);
}

.media_list{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
}
.media_list_item{
    text-align: center;
}

.media_list_item .media_image{
    /* width: 15rem; */
    height: 5.8rem;
}

.media_list_item .media_list_item_content{
    margin-top: 1.8rem;
    color: #2d2d45;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;    
}







/* Footer */

.Footer{
    background-color: white;
    padding: 6rem 15rem;
    color: black;
    display: flex!important;
    flex-direction: row!important;
    box-shadow: 0px -10px 20px 2px var(--primary-color-1);
}
/* 
.Footer_content{
    padding-bottom: 4.8rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3rem;
}
.Footer_content .logo img{
    max-width: 175px;
    filter: grayscale(0.5) brightness(700%);
}
.Footer_content .title{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 2.2rem;
    text-transform: uppercase;
}

.Footer_content .item{
    margin-bottom: .8rem;
    color: #fff;
    text-decoration: none;
}
.Footer_content .touch{
    margin-left: 1.8rem;
}

.Footer_content .contacts > *{
    margin-left: 1.7rem;
}

.Footer_content .phone {
    font-size: 1.4rem;
} */

/* .Footer_content .address {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
} */
